.login {
  background-color: #27baf3;
  height: 100vh;
}

.login__container {
  display: flex;
  height: 60%;
  width: 70%;
  padding: 5px;
  position: relative;
  top: 15%;
  left: 15%;
}

.login__left__container {
  background-color: #5091cd;
  border-radius: 20px 0px 0px 20px;
  flex: 6;
  padding: 10px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.login__right__container {
  border-radius: 0px 20px 20px 0px;
  /* align-items: center; */
  background-color: white;
  flex: 6;
}

.login__right__container > button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #5091cd;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
